<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="capsulemanager.arpia49.com"
      android:versionCode="5"
      android:versionName="0.2.1">
    <uses-sdk android:minSdkVersion="4" />

    <application android:icon="@drawable/icon" android:label="@string/app_name">
        <activity android:name=".WelcomeActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="CapsulesListActivity"
                  android:label="@string/actList">
            <intent-filter>
                <action android:name="android.intent.action.CAPSULESLIST" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".EditCapsuleActivity"
                  android:label="@string/actEdit">
            <intent-filter>
                <action android:name="android.intent.action.CAPSULEEDIT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AddCapsuleActivity"
                  android:label="@string/actAdd">
            <intent-filter>
                <action android:name="android.intent.action.CAPSULEADD" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>